

.boss-sprite {
  position: absolute;
  left: 70%;
  top: 40%;
  width: 15%;
  height: 25%;
  filter:brightness(0%);
  animation: bossBrightness 1ms steps(1, end) 5600ms forwards;
}

.blurb {
  font-size: 6vh;
  font-weight: bold;
  font-style: italic;
  position: absolute;
  top: 30%;
  left: 10%;
  width: 60%;
  color: grey;
  opacity: 0;
  animation: textPopIn 1ms steps(1, end) 5600ms forwards;
  white-space: pre-line;
  height: 100px;
}

.flash {
  position: absolute;
  height: 0;
  width: 100%;
  background-color: white;
  animation: flashAnim 3000ms ease-in 2600ms 1;
  z-index: 5;
}


.background-panel {
  background: linear-gradient(0deg, rgba(255,255,255,1) 14%, rgba(216,216,216,1) 34%, rgba(139,139,139,1) 58%, rgba(89,89,89,1) 73%, rgba(60,60,60,1) 83%, rgba(34,34,34,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.flipped{
  transform: scaleY(-1);
}

.background-panel > p {
  overflow: hidden;
}

.middle-panel {
  background-color: black;
}
.grid {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 0 8fr 0;
	min-height: 100vh;
  max-height: 100vh;
  position: relative;
	top: -50%;
	animation: resize 800ms linear 1200ms forwards;
}

@keyframes textPopIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}
@keyframes flashAnim {
  from {
    opacity: 0;
    height: 0;
    margin-top: 50vh;
  }
  to {
    opacity: 100;
    height: 100%;
    margin-top: 0;
  }
}

@keyframes bossBrightness {
  from {
    filter: brightness(0%)
  }
  to {
    filter: brightness(100%)
  }
}

@keyframes resize {
	0% {
		grid-template-rows: 0 20fr 0;
	}
	10% {
    grid-template-rows: 1fr 18fr 1fr;
  }

  20% {
    grid-template-rows: 2fr 16fr 2fr;
  }

  30% {
    grid-template-rows: 3fr 14fr 3fr;
  }

  40% {
    grid-template-rows: 4fr 12fr 4fr;
  }

  50% {
    grid-template-rows: 5fr 10fr 5fr;
  }

  60% {
    grid-template-rows: 6fr 8fr 6fr;
  }

  70% {
    grid-template-rows: 7fr 6fr 7fr;
  }

  80% {
    grid-template-rows: 8fr 4fr 8fr;
  }

  90% {
    grid-template-rows: 9fr 2fr 9fr;
  }

  100% {
    grid-template-rows: 10fr 0 10fr;
  }
}


