body {
  margin: 0;
  font-family: 'Vipnagorgialla', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20vh;
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.root {
  height: 100%;
  --first-time-break: 2000ms;
  
}
